<div class="center-video-viewer fullCenter">
    <div class="video-container">
        <!-- <iframe class="vpl" #viewer src="https://vimeo.com/event/1646883/embed/d175f00f9b" width="1920" height="1080" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
        <iframe width="1920" height="1080" src="https://www.youtube.com/embed/FvtVTtBMYos" title="Aiden Appleby Live Stream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="footer">
        <!-- <h2 class="fullYCenter">HawkTalk Live Stream</h2> -->
        <!-- <div class="live-blip fullYCenter" [ngClass]="!showSplash ? 'active':''">
            <p class="fullYCenter">{{showSplash ? 'Off Air' : 'Live'}}</p>
            <div class="blip fullYCenter" *ngIf="!showSplash"></div>
        </div> -->
    </div>
</div>